[submodule "commons"]
	path = commons
	url = http://192.168.1.222:8080/r/android/Commons.git
[submodule "timescore"]
	path = timescore
	url = http://192.168.1.222:8080/r/android/TimesCore.git
[submodule "chatcore"]
	path = chatcore
	url = http://192.168.1.222:8080/r/android/ChatCore.git
